body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
 
#character {
    width: 256px;
    height: 256px;
    bottom: 0;
    position: absolute;
    background-image: url('walking.png');
    background-position: 0 0;
    animation: walk 600ms steps(6) infinite;
}
 
@keyframes walk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1536px 0;
    }
}
